<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oldispa</title>
    <link rel="shortcut icon" href="../../img/logo-sin-fondo.png">
    <link rel="stylesheet" href="../../css/estilos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars fa-2x"></i>
        </label>
        <a href="index.html" class="enlace">
            <img src="../../img/logo-sin-fondo.png" alt="" class="logo">
        </a>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../proyectos.html">Proyectos</a></li>
            <li><a href="../servicios.html">Servicios</a></li>
            <li><a href="../productos.html">Productos</a></li>
            <li><a href="../contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <section class="Titulo"><BR><BR> 
        <h1>Estructura El Parron</h1>
    </section>

    <div class="galeria">
        <img src="../../img/el-parron/1-el-parron.jpg" alt="">
        <img src="../../img/el-parron/2-el-parron.jpg" alt="">
        <img src="../../img/el-parron/3-el-parron.jpg" alt="">
        <img src="../../img/el-parron/4-el-parron.jpg" alt="">
        <img src="../../img/el-parron/5-el-parron.jpg" alt="">
        <img src="../../img/el-parron/6-el-parron.jpg" alt="">
        <img src="../../img/el-parron/7-el-parron.jpg" alt="">
        <img src="../../img/el-parron/8-el-parron.jpg" alt="">
        <img src="../../img/el-parron/9-el-parron.jpg" alt="">
    </div>

    <footer>

        <div class="grid-footer">

            <div class="box-footer" id="b1">
                <p>Copyright © 2023 Constructora Oldispa</p>
            </div>

            <div class="box-footer" id="b2">
               
                <p id="text-footer"><img id="img-footer" src="https://cdn-icons-png.flaticon.com/512/732/732200.png">   constructoraoldispa@gmail.com</p>
                <BR>
                <p id="text-footer"><img id="img-footer" src="https://cdn-icons-png.flaticon.com/512/3059/3059954.png">+56 9 74313732</p>
            </div>

            <div class="box-footer" id="b3">
                
            </div>
        </div>
        </footer>