<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Responsive</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    
</head>
<body>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars fa-2x"></i>
        </label>
        <a href="index.html" class="enlace">
            <img src="../img/logo.jpg" alt="" class="logo">
        </a>
        <ul>
            <li><a class="active" href="index.html">Inicio</a></li>
            <li><a href="proyectos.html">Proyectos</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="productos.html">Productos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
 
    <section class="Titulo"><BR><BR> 
        <h1>Productos</h1>
    </section>

    <div class="seccion1-producto">
            <div class="servicios-container">

            

        <div class="servicios-texto">
            <div class="titulo-servicios" style="width: 100%;">
                <h1 id="text-product">Nuestro Compromiso</h1>
                <p id="text-product">Buscamos entregar un servicio de excelencia a nuestros clientes, para lo cual, observamos desde la calidad de los materiales hasta la prevención de riesgos laborales; sin dejar de lado el provocar el mínimo impacto ambiental.  Contamos con personal altamente capacitado para realizar todo 
                    tipo de proyectos, de acuerdo a los plazos establecidos y a las especificaciones técnicas señaladas de acuerdo a la normativa legal vigente.</p>
            </div>
            <div class="tipos-productos">
                <div class="servicio">
                    <p><img id="iconos-productos" src="https://cdn-icons-png.flaticon.com/512/2610/2610605.png">Profesionales Especialistas</p>
                </div>
                <div class="servicio">
                    <p><img id="iconos-productos" src="https://cdn-icons-png.flaticon.com/512/681/681662.png">Construcciones Precisas</p>
                </div>
                <div class="servicio">
                    <p><img id="iconos-productos" src="https://cdn-icons-png.flaticon.com/512/125/125768.png">Ideas Brillantes</p>
                </div>
                <div class="servicio">
                    <p><img id="iconos-productos" src="https://cdn-icons-png.flaticon.com/512/114/114535.png">Asistencia 24/7</p>
                </div>
            </div>
        </div>
        <div class="servicios-imagen">
            <img id="foto-para-producto" src="../img/foto-producto.jpg" alt="">
        </div>
    </div>
    </div>
    
    <div class="seccion2-producto">
        <div class="box-seccion2">
            <h1 id="titulo-productos">Lo Que Ofrecemos</h1>
            <p>Entregamos calidad en el desarrollo de su proyecto y en su ejecución, nos orientamos a que su satisfacción sea 
                nuestra prioridad, nuestro compromiso con los clientes hace que nos destaquemos dentro del rubro trabajando para conseguir la excelencia.
            </p>
        </div>
        <div class="seccion2-contenedor">
            <div class="items-ofrecemos">
                <div class="box-items">
                    <img src="../img/requirements.jpg" alt="">
                    <h2>Entendemos Sus Requerimientos</h2>
                    <p>Lo que usted necesite nosotros lo hacemos en su proyecto, logrando rescatar sus exigencias y comprendiendo en totalidad el proyecto.</p>
                </div>
            </div>
            <div class="items-ofrecemos">
                <div class="box-items">
                    <img id="imagen-presicion" src="../img/1-Trabajo-presicion-6-scaled.jpg" alt="">
                    <h2>Trabajamos Con Precisión</h2>
                    <p>Llevamos a cabo su proyecto prestando atención absoluta de sus medidas y especificaciones; logrando así una ejecución precisa y de acuerdo a la planimetría existente.</p>
                </div>
            </div>
            <div class="items-ofrecemos">
                <div class="box-items">
                    <img src="../img/1-servicios-foto-3.jpg" alt="">
                    <h2>Entregamos La Mejor Solución</h2>
                    <p>Al aceptar el desafío en el desarrollo de su obra, otorgamos las mejores opciones en cuanto a la materialidad y costos involucrados.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contactenos">
        <div class="titulo-contactanos">
            <h1>Brindamos el mejor servicio en la industria</h1>
        </div>
        <div class="boton-contactenos">
            <a href="contacto.html">Contáctanos ahora</a>
        </div>
    </div>

    <footer>
        <div class="grid-footer">

            <div class="box-footer" id="b1">
                <p>Copyright © 2023 Estructuras Cabilla</p>
            </div>

            <div class="box-footer" id="b2">
               
                <p id="text-footer"><img id="img-footer" src="https://cdn-icons-png.flaticon.com/512/732/732200.png">   contacto@cabilla.cl</p>
                <BR>
                <p id="text-footer"><img id="img-footer" src="https://cdn-icons-png.flaticon.com/512/3059/3059954.png">+56 9 74313732</p>
            </div>

            <div class="box-footer" id="b3">
                
                
            </div>
        </div>
        </footer>
</body>
</html>