<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oldispa - Proyectos</title>
    <link rel="shortcut icon" href="../img/logo-sin-fondo.png">
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars fa-2x"></i>
        </label>
        <a href="../index.html" class="enlace">
            <img src="../img/logo.jpg" alt="" class="logo">
        </a>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="proyectos.html">Proyectos</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="productos.html">Productos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <section class="Titulo"><BR><BR> 
        <h1>Proyectos</h1>
    </section>

    <div class="titulo-proyectos">
        <h1 id="titulo-proyectos">Proyectos Recientes</h1>
    </div>

    <div class="contenedor-proyectos">
        <div class="box-proyecto">
            <img src="../img/portadas proyecto/portada-san-vicente.jpg" alt="">
            <h2>Estructura Tottus San Vicente</h2>
            <p>Montaje Galpón</p>
            <a href="../views/proyectos/san-vicente.html">Ver mas</a>

        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/ascensor arauco.jpg" alt="">
            <h2>Estructura Ascensor Arauco II</h2>
            <p>Fabricación y montaje</p>
            <a href="../views/proyectos/ascensor-arauco.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/casa blanca.jpg" alt="">
            <h2>Estructura Casa Casablanca</h2>
            <p>Fabricación y montaje</p>
            <a href="../views/proyectos/casa-blanca.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/ROBERTO-E.jpg" alt="">
            <h2>Estructura Roberto Espinoza</h2>
            <p>Fabricación y montaje Galpón</p>
            <a href="/views/proyectos/Roberto-espinoza.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/San joe de maipo.jpg" alt="">
            <h2>Estructura San Jose De Maipo</h2>
            <p>Fabricación y montaje Galpón</p>
            <a href="../views/proyectos/san-jose-maipo.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/san pablo.jpg" alt="">
            <h2>Estructura San Pablo</h2>
            <p>Fabricación y montaje Galpón</p>
            <a href="../views/proyectos/San-Pablo.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/la pintana.jpg" alt="">
            <h2>Estructura La Pintana</h2>
            <p>Fabricación y montaje Galpón</p>
            <a href="../views/proyectos/la-pintana.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/liray.jpg" alt="">
            <h2>Estructura Liray</h2>
            <p>Fabricación y montaje Galpón</p>
            <a href="../views/proyectos/liray.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/batuco.jpg" alt="">
            <h2>Estructura Batuco</h2>
            <p>Fabricación y montaje Galpón</p>
            <a href="../views/proyectos/batuco.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/pumanque.jpg" alt="">
            <h2>Estructura Pumanque</h2>
            <p>Fabricación y montaje Galpón</p>
            <a href="../views/proyectos/pumanque.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/algarrobo.jpg" alt="">
            <h2>Estructura Algarrobo</h2>
            <p>Fabricación y montaje Galpón</p>
            <a href="../views/proyectos/algarrobo.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/el parron.jpg" alt="">
            <h2>Estructura El Parron</h2>
            <p>Fabricación y montaje Galpón</p>
            <a href="../views/proyectos/el-parron.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/coca cola.jpg" alt="">
            <h2>Estructura Sombra Coca Cola</h2>
            <p>Fabricación y montaje</p>
            <a href="../views/proyectos/sombra-coca-cola.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/talagante.jpg" alt="">
            <h2>Estructura Talagante</h2>
            <p>Fabricación y montaje Galpón</p>
            <a href="../views/proyectos/talagante.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/quilicura.jpg" alt="">
            <h2>Estructura Quilicura</h2>
            <p>Fabricación y montaje Galpón</p>
            <a href="../views/proyectos/quilicura.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/buin seguricel.jpg" alt="">
            <h2>Estructura Buin Seguricel</h2>
            <p>Fabricación y montaje Galpón</p>
            <a href="../views/proyectos/buin-seguricel.html">Ver mas</a>
        </div>

        <div class="box-proyecto">
            <img src="../img/portadas proyecto/buin jps.jpg" alt="">
            <h2>Estructura Buin JPS</h2>
            <p>Fabricación y montaje Galpón</p>
            <a href="../views/proyectos/buin-jps.html">Ver mas</a>
        </div>

    </div>

    <footer>

        <div class="grid-footer">

            <div class="box-footer" id="b1">
                <p>Copyright © 2023 Constructora Oldispa</p>
            </div>

            <div class="box-footer" id="b2">
               
                <p id="text-footer"><img id="img-footer" src="https://cdn-icons-png.flaticon.com/512/732/732200.png">   constructoraoldispa@gmail.com</p>
                <BR>
                <p id="text-footer"><img id="img-footer" src="https://cdn-icons-png.flaticon.com/512/3059/3059954.png">+56 9 74313732</p>
            </div>

            <div class="box-footer" id="b3">
                
            </div>
        </div>
        </footer>
</body>
</html>